.header {
    background-color: darkcyan;
    padding: 100px 100px;
    color: white;
    text-align: center;
    justify-content: start;
    font-size: 26px;
}

.button {
    background-color: lightgreen;
    padding: 8px 26px;
    text-decoration: none;
    font-size: 16px;
}

.center {
    text-align: center;
    padding-top: 10px;
}